@model MovieStore.ViewModel.PasswordDelete

@{
    ViewBag.Title = "Index";
    ViewBag.Error = (string)ViewBag.errorMessage;
    ViewBag.question = (string)ViewBag.Question;
    ViewBag.answer = (string)ViewBag.Answer;
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="text-danger">@ViewBag.errorMessage</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewBag.answer != null)
        {
            <p style="margin-left:120px;" class="text-success">Your password is : <strong>@ViewBag.Answer</strong></p>
            <br />
            <br />
            <test style="margin-left:120px;">@Html.ActionLink("", "PaymentHandler", "Carts", null, new { @class = "btn btn-primary btn-large" })</test>


        }
        else if (ViewBag.question != null)
        {
            <div style="margin-left:120px;">
                <label class="label-primary">@ViewBag.Question</label>
            </div>
            <div style = "margin-left:120px;" >
              <label class="label-default">Answer:</label><input type="text">
            </div>

        }

 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



