@model IEnumerable<MovieStore.Models.Cart>

@{
    ViewBag.Title = "Index";
    var TotalValue = (double)ViewBag.itemsTotalValue;
    var TotalNumberOfDifferentItems = (int)ViewBag.itemsTotalDifferentProducts;
    var userName = (string)ViewBag.cartOwner;
    var Error = (string)ViewBag.errorAmount;


   

}
@Html.ActionLink("Create New Cart Item", "Create")

<h2>Index</h2>
<p class="text-danger">@ViewBag.errorAmount</p>



<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)


        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
            


        </td>
        <td>
            @Html.ActionLink("Add", "Add", new { id=item.CartId })
          
            @Html.ActionLink("Delete", "Delete", new { id=item.CartId })
        
        </td>
    </tr>
}

</table>
<br />
<br />
<br />
<div style="width:50%;">
    <table class="table">
        <tr>
            
            <th style="text-align:center;width:33%;">User Name
            </th>
            <th style="text-align:center;width:33%;">
                Total Number Of Different Products
            </th>
            <th style="text-align:center;width:33%;">
                Total Value Of Cart
            </th>
        </tr>

    </table>
    <table class="table">
        <tr>
            <td style="text-align:center;width:33%;">
                @ViewBag.cartOwner

            </td>
            <td style="text-align:center;width:33%;">
                @ViewBag.itemsTotalDifferentProducts
            </td>
            <td style="text-align:center;width:33%;">
                @ViewBag.itemsTotalValue
            </td>
            
</tr>

    </table>
</div>
