@model IEnumerable<MovieStore.Models.Cart>

@{
    ViewBag.Title = "Index";
    var TotalValue = (double)ViewBag.itemsTotalValue;
    var TotalNumberOfDifferentItems = (int)ViewBag.itemsTotalDifferentProducts;
    var userName = (string)ViewBag.cartOwner;
    var Error = (string)ViewBag.errorAmount;


   

}
<div>
    <br />
    <br />

    <h3 style="text-align:center;">Hello @ViewBag.cartOwner ! You can choose to add or remove items from your cart.</h3>
    <br />
    <br />
</div>
<div>

    <test style="margin-left:180px;">@Html.ActionLink("Create New Item", "Create", "Carts", null, new { @class = "btn btn-primary btn-large" })</test>
    <br />
</div>


<p class="text-danger">@ViewBag.errorAmount</p>



<table class="table">

    <tr>
        <th style="width:20%;" class="table-hover">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
   
        <th style="width:20%; class=" table-hover">
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>Add/Sub</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.ActionLink("Add", "Add", new { id = item.CartId })&nbsp&nbsp&nbsp @Html.ActionLink("Delete", "Delete", new { id = item.CartId })
            </td>

    </tr>
}
  

</table>

<br />
<br />
<br />
<br />
<br />
<br />
    <table class="table">
        <tr>
            
            <th style="width:20%;">User Name
            </th>
            <th style="width:20%;">
                Total Number Of Different Products
            </th>
            <th >
                Total Value Of Cart
            </th>
        </tr>

    </table>
    <table class="table">
        <tr>
            <td style="width:20%;">
                @ViewBag.cartOwner

            </td>
            <td style="width:20%;">
                @ViewBag.itemsTotalDifferentProducts
            </td>
            <td>
                @ViewBag.itemsTotalValue
            </td>
             

    </table>
    @if (ViewBag.itemsTotalDifferentProducts != null && ViewBag.itemsTotalDifferentProducts>0)
    { 

    <test style="margin-left:180px;">@Html.ActionLink("Go To Payment", "PaymentHandler", "Carts", null, new { @class = "btn btn-primary btn-large" })</test>
    }

