






@{
    ViewBag.Title = "PaymentHandler";
    ViewBag.TotalValue = (double)ViewBag.itemsTotalValue;
    var TotalNumberOfDifferentItems = (int)ViewBag.itemsTotalDifferentProducts;
    var userName = (string)ViewBag.cartOwner;
    var firstName = (string)ViewBag.first;
    var lastName = (string)ViewBag.last;
    var mail = (string)ViewBag.mail;
    var cellular = (string)ViewBag.cell;
    var userAddress = (string)ViewBag.address;
    var orderid = (string)ViewBag.orderId;
    var date = (string)ViewBag.Date;
    var dateerror = (string)ViewBag.DateError;
        

    

}


<h2>Payment Information</h2>
<div>
    <label><strong>User Name : </strong>@ViewBag.cartOwner</label>
    <br />
    <label>
        <strong>First Name :</strong>@ViewBag.first
    </label>
    <br />
    <label>
        <strong>Last Name :</strong>@ViewBag.last
    </label>
    <br />
    <label>
        <strong>Mail :</strong>@ViewBag.mail
    </label>
    <br />
    <label>
        <strong>Cellular :</strong>@ViewBag.cell
    </label>
    <br />
    <label>
        <strong>Address :</strong>@ViewBag.address
    </label>
    <br />
    <label>
        <strong>Total Different Items :</strong>@ViewBag.itemsTotalDifferentProducts
    </label>
    <br />
    <label>
        <strong>Total Value :</strong>@ViewBag.itemsTotalValue
    </label>
    <br />
        @using (Html.BeginForm("SetDate", "Carts", FormMethod.Post,
                                              new { enctype = "multipart/form-data" }))
        {
            <fieldset>
                Select a Delivery date <input style="height:25px;" type="date" name="date" value="@ViewBag.WorkDate.ToString("yyyy-MM-dd")" />
                <input type="submit" value="Set Date" />
            </fieldset>
            <p class="text-warning">Don't forget to push the "Set Date" button after choosing a date.!</p>
            <p class="text-danger">@ViewBag.DateError</p>
        }



    <br />
    @if (ViewBag.validDate != null)
    { 
    <test>@Html.ActionLink("Confirm Transaction", "ConfirmTransaction", "Carts", null, new { @class = "btn btn-primary btn-large", onclick = "return SetTextBoxValue()" })</test>
    }
    else
    {
        
    }


</div>
<script>
    $('#date').change(function () {
        alert("changed");

        var date = $('#date').val();


    });
    
    /*

    previousVal = "";
    function InputChangeListener() {
        if ($('#date').val()
           != previousVal) {
            previousVal = $('#date').val();
            $('#date').change();
        }
    }

    setInterval(InputChangeListener, 500);
    */
   /*

    $('#date').val(3);
    */

</script>




     
           







 



<script>
    function SetTextBoxValue() {
        alert("Thank you for buying from MovieStore Online! we recieved your payment, and we hope to see you in the future!");


    };
</script>

